@import url('https://fonts.googleapis.com/css?family=Jua|Montserrat');
body {
  width: 100%;
  text-align: center;
}

.popup-modal {
  width: 60%;
  margin: auto;
}

.title-bar {
  background-color: #C957BC;
  height: 40px;
  
}
.loading-page {
  background-color: burlywood;
  text-align: center;
  height: 1000px;
}
.btn {
  border: none;
  background-color: rgba( 255, 255, 255, 0 );
  cursor: pointer;
  
}
.menu-img {  
  height: 100%;
}

.daliy-list.today .date-header{
  font-weight: bold;
}
input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}
/*  */
.sidebar {
  transform: translate3d(-280px, 0px, 0px);
  position: absolute;
  width: 280px;
  background: #263249;
  color: #eee;
  left: 0;
  height: 100%;
  transition: all .3s;
}
.menu li {
  padding: 10px;
  list-style: none;
  width: 0%;
}
.menu li a {
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: block;
  text-decoration: none;
  padding: 5px 0px 5px 0;
  margin: 0 20px;
}
input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}
label[data-function*='swipe'] {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px fontawesome;
  text-align: center;
  color: #333;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}
label[data-function*='swipe']:hover {
  color: #263249;
}
input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
  transform: translate3d(280px, 0, 0);
}
label[data-function*='swipe']:checked {
  display: block;
}
label:nth-child(2){
  display: none;
}
input[data-function*='swipe']:checked ~ label:nth-child(2){
  display: block;
  transform: translate3d(280px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ label:nth-child(3){
  display: none;
}
/*  */
.fixed-menu {
  position:fixed;
  display: flex;
  z-index:1000;
  height: 5%;
  width: 100%;
  padding: 5px 10px;
  text-align: left;
  top:0px;
  left:0px;
  /* -webkit-box-shadow: 0 2px 2px 0 #cccccc; */
  box-shadow: 0 2px 2px 0 #cccccc;
  background-color:#FFE3B3;
  color: #000000;
}

.thumb-img {
  width: 55%;
  border-radius: 15%;
}

.thumb-title {
  font-size: 15px;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  margin: 5px 0;
  font-family: "Jua";
}
.webtoon-list {
  width: 100%;
  display: flex;
  /* margin:  auto 0 auto; */
  padding-top: 7%;
  justify-content: center;
  text-align: center;
  background-color: #26648E;
}

.daliy-list {
  width: 12.7%;
  height: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  font-size: 20px;
  background-color: #FFE3B3;
}

.side {
  /* border: 3px solid #C957BC; */
  border-radius: 15px 15px 15px 15px;
}
.date-header {
  font-weight: bold;
  margin: 10px 0;
  font-family: Montserrat;
  border-bottom: 4px dotted black;
}

.nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1500px) {
  .webtoon-list {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .webtoon-list {
    /* display: inline-block;
    margin: 20px auto 0 auto;
    justify-content: center;
    text-align: center; */
    height: 100%;
  }

  .date-header {
    font-size: 20px;
  }

  .daliy-list {
    font-size: 10px;
    margin: 0 1px;
  }
  
  .daliy-list:not(.today) {
    display: none;
  }
  
  .daliy-list {
    width: 80%;
  }

  .thumb-title {
    font-size : 15px;
  }

  .webtoon-item {
    width: 30%;
    display: inline-block;
  }
}