<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <include resource="logback-base.xml"/>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="application_log"/>-->
            <!--<appender-ref ref="debug_log"/>-->
            <appender-ref ref="error_log"/>
            <appender-ref ref="info_log"/>
            <!--<appender-ref ref="http_log"/>-->
        </root>
    </springProfile>

    <springProfile name="sandbox">
        <include resource="logback-base.xml"/>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="application_log"/>-->
            <!--            <appender-ref ref="debug_log"/>-->
            <appender-ref ref="error_log"/>
            <appender-ref ref="info_log"/>
            <!--<appender-ref ref="http_log"/>-->
        </root>
    </springProfile>

    <springProfile name="set1">
        <include resource="logback-base.xml"/>
        <root level="INFO">
            <!--<appender-ref ref="application_log"/>-->
            <!--            <appender-ref ref="debug_log"/>-->
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="error_log"/>
            <appender-ref ref="info_log"/>
            <!--<appender-ref ref="http_log"/>-->
        </root>
    </springProfile>

    <springProfile name="set2">
        <include resource="logback-base.xml"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="application_log"/>-->
            <!--            <appender-ref ref="debug_log"/>-->
            <appender-ref ref="error_log"/>
            <appender-ref ref="info_log"/>
            <!--<appender-ref ref="http_log"/>-->
        </root>
    </springProfile>
</configuration>